/* Reset */
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

html {
	font-size: 16px;
}
body {
	font-size: 1em;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/**
 * Helpers
 */
@function colWidthCalc($col:3, $gap: 2em) {
	@return calc((100% - #{$gap}*#{$col})/#{$col});
}

@mixin thumbnail--16-9() {
	position: relative;
	height: 0;
	padding: 56.25% 0 0 0;
	overflow: hidden;

	> img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
	}
}


/**
 * Gallery slider
 */
.gallery-slider {
	figure {
		@include thumbnail--16-9();
	}
}
