/* Reset */
/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

html {
	font-size: 16px;
}
body {
	font-size: 1em;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

main {
	padding: 2em 5em;
}

/**
 * Helpers
 */
@function colWidthCalc($col:3, $gap: 2em) {
	@return calc((100% - #{$gap}*#{$col})/#{$col});
}

@mixin thumbnail--16-9() {
	position: relative;
	height: 0;
	padding: 56.25% 0 0 0;
	overflow: hidden;

	> img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
	}
}


/**
 * Gallery slider
 */
.gallery-slider {
	position: relative;

	&__image {
		@include thumbnail--16-9();
	  --x: 0;
	  --y: 0;
	  --d: 50;
	  pointer-events: auto;
	  user-select: auto;

	  img {
	  	transition: transform .2s ease-out;
	  }
	  
	  @media (hover: hover) {
	    &:hover img {
	      transform: 
	        scale(1.025)
	        translate(
	          calc(var(--x) / var(--d) * 1px),
	          calc(var(--y) / var(--d) * 1px)
	        );
	    }    
		}
	}

	.dots {
		position: absolute;
		top: 50%;
		right: 4em;
		transform: translateY(-50%);

		.dots__item {
			position: relative;
			outline: none;
			display: block;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			border: solid 1px white;
			min-width: 2em;
			min-height: 2em;
			width: 2vw;
			height: 2vw;
			margin-bottom: .7em;
			cursor: pointer;
			background: transparent;
			border-radius: 1px;

			// Slides
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 1;
				background: white;
				transform: scaleY(0);
				transition: transform .1s ease-out;
			}

			&--active {
				&::after {
					transform-origin: bottom;
					transform: scaleY(1);
				}
			}

			&--previous {
				&::after {
					transform-origin: top;
					transform: scaleY(0);
				}
			}
		}
	}
}
